@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  
}

.formContato{
    
        background-color: red;
        background-image: radial-gradient(ellipse at left bottom, rgba(17, 18, 27, 0.795) 0%,rgba(27, 18, 43, 0.712) 59%, rgba(3, 10, 44, 0.9) 100%);
        box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        display: fixed;
        margin: 4rem auto 0;
        margin-top: 55px;
        padding: 5rem 4rem 0 4rem;
        width: 100%;
        max-width: 350px;
        min-height: 530px;
        font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
}

 .label-float {
    color: white;
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	outline: none;
	border-radius: 1.5rem;
	letter-spacing: 1px;
    margin-right: 3rem;
} 



 input{
	font-size: 1.15rem;
    margin-top: .5rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.25);
	letter-spacing: 1px;
}

textarea{
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 1rem;
}



#descricao{
    text-transform: uppercase;
    width: 105%;
    border-radius: 10px;
}

button{
    color: #ffffff;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;
	padding: .75rem;
	border-radius: 2rem;
	display: block;
	width: 70%;
	background-color: #ad0420;
	border: none;
	cursor: pointer;
   margin-left:3.5rem;
}

button:hover{
    background-color: #a94442;
}

.alert {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}






