{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/contato.css">

    <title>Contatos</title>
</head>

<body>


    <!-- {% if messages %}
    <div class="messages">
        {% for message in messages%}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %} -->
        
        <form action="{% url 'contato' %}" method="post" autocomplete="off" class="formContato">
            {% csrf_token %}
            <h1> Deixe aqui seu contato... </h1>
            <label class="label-float"  for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" required><br><br>

            <label class="label-float" for="telefone">Telefone: </label>
            <input type="text" id="telefone" name="telefone" required><br><br>

            <label class="label-float" for="email">Email: </label>
            <input type="email" id="email" name="email" required><br><br>

            <label class="label-float" for="nome">Assunto: </label>
            <input type="text" id="nome" name="nome" required><br><br>

            <label class="label-float" for="descricao">Descrição: </label><br>
            <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea><br><br>

            <!--<input type="submit" value="Enviar" class="buttun"> -->

            <button type="submit" > Enviar </button>
        </form>
</body>

</html>