<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/css/login_vendedor.css">
   <title>Login Funcionario </title>
</head>
<body>
   <div class="login-container">
      <form action="" class="form-login" method="post" name="formLoginVendedor" action="/doLoginVendedor"> 
        {% csrf_token %}
        
          <ul class="login-nav">
              <li class="login-nav__item active">
                  <a href="#">Login Vendedor </a>
              </li>
              
          </ul>
          <label for="login-input-user" class="login__label">
              CPF
          </label>
          <input id="login-input-user" class="login__input" type="text"  name="cpf"/>
          <label for="login-input-password" class="login__label">
              Senha
          </label>
          <input id="login-input-password" class="login__input" type="password" name="password"/>
          <label for="login-sign-up" class="login__label--checkbox">
              <input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
              Manter conectado
          </label>
          <button class="login__submit" disabled>Login</button>
      </form>
      <a href="#" class="login__forgot">Esqueceu a senha?</a>
  </div>
</body>
</html>